*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    overflow: hidden;
    
}

body{
    font-family: 'Poppins', sans-serif;
}
i,svg{
    pointer-events:none;
}
.kick-pad,.snare-pad,.hihat-pad{
    width : 4rem;
    height : 4rem;
    margin : 1rem 0.5rem;
    cursor : pointer;
}

.kick-pad{
    background :rgb(160, 211, 224);
}
.snare-pad{
    background :rgb(224, 160, 208);
}
.hihat-pad{
    background : rgb(224, 194, 160);
}
.kick-pad.active{
    background :rgb(59, 197, 231);
}
.snare-pad.active{
    background :rgb(218, 58, 178);
}
.hihat-pad.active{
    background :rgb(241, 158, 64);
}


.sequencer{
    display : flex;
    min-height : 100vh;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.hihat-track,
.snare-track,
.kick-track{
    display : flex;
    align-items : center;
    width :80%;
    justify-content : space-between;
    margin : 1rem;
}

.kick,
.snare,
.hihat{
    display : flex;
}

.controls{
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex: 10px;
    margin: 0rem 2rem;
}

.controls button{
    padding : 0.5rem;
    border : none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition : all 0.5s ease;
}

.pad{
    transition: all 0.5s ease all;
}

.play{
    padding : 1rem 2rem;
    font-size :  1.3rem;
    background : rgb(88, 88, 88);
    color : white;
    border : none;
    cursor : pointer;
    margin : 0.5rem;
}

select{
    padding : 10px;
    font-size : 13px;
}

@keyframes playTrack{
    from{
        transform : scale(1);
    }
    to{
        transform : scale(1.2);
    }
}
.mute.active{
    background-color: rgb(172, 167, 167);
}
.tempo{
    width : 30%;
}
.tempo-slider{
    padding : 0.1rem;
    -webkit-appearance: none;
    margin : 1rem 0rem;
    width : 100%;
    position : relative;
    background: rgb(88,88,88);
    cursor : pointer;
    border-radius : 1rem;
}
.tempo p{
    font-family: sans-serif;
    font-size : 1.5rem;
    margin : 1rem;
    text-align : center;
}
